@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Arimo', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/size-regulation.css";
@import "components/status-bar.css";

/* Screens */
@import "screens/welcome.css";
@import "screens/login.css";
@import "screens/friends.css";

body {
  background-color: var(--white);
  font-family: "arimo";
  height: 100vh;
  color: var(--black);
}
